<app-header></app-header>

<mat-card id="top" class="mat-card-section mat-elevation-z0">
    <mat-card-content>
        <div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign=" center start" fxLayoutGap="32px">
            <div fxFlex>
                <h1 class="mat-display-2 text-left">
                    Neev: Make your NGO Digital
                </h1>

                <p class="mat-subheading-2 light margin-bottom-36">
                    Neev is a digital platform for NGOs that provide customized tools and apps that capture data in
                    real-time, help map it, deliver "on the go" analytics, and provide beneficiaries with speedy
                    resolution of problems.
                </p>

                <div>


                    <a mat-raised-button color="primary" target="_blank" href="mailto:team@manishsoftware.com">
                        Book a demo <mat-icon>arrow_right</mat-icon>
                    </a>


                </div>



            </div>
            <div fxFlex>
                <img alt="mobile app development services company" class="image" width="100%"
                    style="margin-bottom: -85px;"
                    src="https://res.cloudinary.com/manish-software/image/upload/v1652281742/neev/neev-ngo-software_iwdpet.webp">
            </div>

        </div>
    </mat-card-content>
</mat-card>

<mat-card class="mat-card-section bg-dark mat-elevation-z0" id="apps_we_develop">
    <mat-card-content>
        <div fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap="24px">

            <div fxFlex class="item ibg mat-elevation-z0">
                <div class="text-center1">
                    <h3>Products</h3>
                </div>
                <ul class="light">
                    <li>
                        Programs Management
                    </li>
                    <li>
                        Identify and Verify Beneficiaries
                    </li>
                    <li>
                        Beneficiary Management
                    </li>
                    <li>
                        Resources Management
                    </li>
                    <li>
                        Team Management
                    </li>
                    <li>
                        Reports
                    </li>
                </ul>
            </div>

            <div fxFlex class="item ibg mat-elevation-z0">
                <div class="text-center1">
                    <h3>Solutions</h3>
                </div>

                <ul class="light">
                    <li>
                        Beneficiary App
                    </li>
                    <li>
                        360° Communication
                    </li>
                    <li>
                        Compliances Automation
                    </li>
                    <li>
                        Operations Automation
                    </li>
                    <li>
                        Real-time Analytics Dashboard
                    </li>
                    <li>
                        Donations Automation
                    </li>
                </ul>
            </div>
        
        </div>



    </mat-card-content>

</mat-card>


<app-footer></app-footer>